{% extends 'admin.html.twig' %}

{% block pagetitle %}Categories{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Parent Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ (category.parent) ? category.parent.name : '-' }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}">
                        <i class="fa fa-search"></i> Details
                    </a>
                    <a class="ml-3" href="{{ path('category_edit', {'id': category.id}) }}">
                        <i class="fa fa-edit"></i> Edit
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('category_new') }}">Create new</a>
{% endblock %}
