<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Winkel!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="container">
        <div class="row py-3">
            <div class="d-flex col-12">
                <h1 class="font-weight-bold">
                    <a href="{{ path('app_home') }}">Mijn winkel</a>
                </h1>
                <div class="align-self-center ml-auto">
                    <a class="mr-3" href="#"><i class="fas fa-search"></i> Search </a>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="#">
                            {{ app.user.email }}
                        </a>
                    {% else %}
                        <a href="{{ path('app_login') }}">
                            <i class="fas fa-user"></i> Sign in
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Categories
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sales</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Customer Service <span class="sr-only"></span></a>
                            </li>
                            {% if is_granted('ROLE_USER') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('profile') }}">Profile <span class="sr-only"></span></a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('dashboard') }}">Admin Panel <span class="sr-only"></span></a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% block body %}{% endblock %}
            </div>
        </div>
        {# <script src="{{ asset('build/app.js') }}"></script #}
        {% block javascripts %}{% endblock %}
    </body>
</html>
